.input-group-text {
    border-color: #dee2e6;
}

.form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.input-group:focus-within .input-group-text,
.input-group:focus-within .form-control {
    border-color: #0d6efd;
}

/* Estilização específica do botão colorido */
.btn-login {
    background: linear-gradient(90deg, #0d6efd 0%, #0099ff 100%);
    border: none;
    transition: all 0.3s ease;
}

    .btn-login:hover {
        background: linear-gradient(90deg, #0b5ed7 0%, #0080ff 100%);
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(13, 110, 253, 0.3) !important;
    }
